body {
    background-color: lightgray;
}

h1 {
    text-align: center;
}

.container {
    background-color: #888;
    width: 60%;
    height: 250px;
    margin: 0 auto;
    border-radius: 5%;
}

.moneyBeforeTip {
    width: 150px;
    position: relative;
    top: 30px;
    display: block;
    margin: auto;
}


.calculateTip {
    display: block;
    margin: auto;
}
.div-tip-input {
    margin: 50px 50px 30px 50px;
}
.moneyAfterTip {
    text-align: center;
}